@import "./variable";

@mixin button {
   border: 2px solid white;
   padding: 0.6rem 0.8rem;
   border-radius: 50px;
   width: max-content;
   transition: 0.2s;
   color: white;
   &:hover {
      border-color: $white-3;
      color: $white-3;
   }
}
@mixin transform($before, $after, $transition, $scale: false) {
   transform: $before;
   opacity: 0;
   transition: $transition;
   @if ($scale) {
      scale: 0.8;
   }
   &.return {
      opacity: 1;
      transform: $after;
      @if ($scale) {
         scale: 1;
      }
   }
}
