$white-1: #eaeaea;
$white-2: #b8b8b8;
$white-3: #979797;
$gradient: linear-gradient(
   90deg,
   rgba(3, 18, 37, 1) 0%,
   rgba(150, 40, 69, 1) 100%
);
$gradinet-kaca: linear-gradient(
   90deg,
   rgba(3, 18, 37, 0.8) 0%,
   rgba(150, 40, 69, 0.8) 100%
);
