/* linear-gradient(90deg, rgba(0, 8, 36, 1) 0%, rgba(0, 94, 131, 1) 100%); */
:root {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    --white-1: #eaeaea;
    --white-2: #b8b8b8;
    --white-3: #747474;
    --gradient: linear-gradient(90deg, rgba(3,18,37, 1) 0%, rgba(150,40,69, 1) 100%);
    --gradient-reverse: linear-gradient(90deg, rgba(150,40,69, 1) 0%, rgba(3,18,37, 1) 100%);
    --gradinet-kaca: linear-gradient(90deg, rgba(3,18,37, .8) 0%, rgba(150,40,69, .8) 100%);
}
:root, body {
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    color: var(--white-1);
    background: var(--gradient);
    color-scheme: dark;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 75rem;
    padding: 0 1rem;
    margin: auto;
}
.panah-atas {
    position: fixed;
    font-size: 3rem;
    bottom: 1rem;
    right: 1rem;
    transform: translateX(150%);
    transition: .3s;
}
.panah-atas.return {
    transform: translateX(0);
}
a {
    text-decoration: none;
    color: var(--white-1);
    transition: .3s;;
}
a:hover {
    color: var(--white-2);
}
li {
    list-style: none;
}
/* GLOBAL */
.navbar a.navbar-download,
.jumbotron a {
    border: 2px solid white;
    padding: .6rem .8rem;
    border-radius: 50px;
    width: max-content;
    transition: .3s;
    color: white;
}
.navbar a.navbar-download:hover,
.jumbotron a:hover {
    border-color: var(--white-2);
    color: var(--white-2);
}
.tentang .row-satu,
.skills .row-satu,
.portfolio .row-satu,
.kontak .row-satu {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}
.tentang h2,
.skills h2,
.portfolio h2,
.kontak h2 {
    margin-bottom: 1rem;
}
.tentang,
.skills,
.portfolio,
.kontak {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* NAVBAR */
#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--gradinet-kaca);
    backdrop-filter: blur(5px);
    z-index: 99;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0;
}
.navbar .navbar-logo {
    font-weight: bold;
    font-size: 1.2rem;
}
.navbar .navbar-logo:hover {
    transform: translateY(-5px);
}
.navbar .navbar-nav {
    display: flex;
    align-items: center;
}
.navbar .navbar-nav ul {
    display: flex;
}
.navbar .navbar-nav li {
    margin-left: 1.5rem;
    width: max-content;
}
.navbar .navbar-download {
    margin-left: 2.5rem;
}
.navbar .navbar-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    display: none;
}
.navbar .navbar-menu:hover.navbar-menu span {
    background-color: var(--white-2);
}
.navbar .navbar-menu span {
    display: block;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: .3s;
}
.navbar .navbar-menu span:nth-child(1) {
    width: 70%;
}
.navbar .navbar-menu span:nth-child(3) {
    width: 50%;
}
@media (max-width: 768px) {
    .navbar .navbar-menu {
        display: flex;
    }
    .navbar .navbar-menu.close {
        justify-content: center;
    }
    .navbar .navbar-menu span:nth-child(1).close {
        width: 100%;
        transform: rotate(45deg) translateX(4px);
    }
    .navbar .navbar-menu span:nth-child(2).close {
        transform: scaleX(0);
    }
    .navbar .navbar-menu span:nth-child(3).close {
        width: 100%;
        transform: rotate(-45deg) translateX(4px);
    }
    .navbar .navbar-nav {
        top: calc(100% + 1rem);
        right: 0;
        position: absolute;
        flex-direction: column-reverse;
        background: var(--gradient);
        padding: 2rem 12rem 2rem 2rem;
        border-radius: 5px 0 5px 5px;
        transition: .3s;
        transform: translateX(130%);
    }
    .navbar .navbar-nav.return {
        transform: translate(0);
    }
    .navbar .navbar-download {
        margin: 2rem 0;
    }
    .navbar .navbar-nav ul {
        flex-direction: column;
    }
    .navbar .navbar-nav li {
        margin: 1rem 0;
    }
}

/* JUMBOTRON */
.jumbotron {
    padding: 4rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron .row-satu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.jumbotron .col-satu, .jumbotron .col-dua {
    margin: 1rem;
}
.jumbotron h1 {
    font-size: 4rem;
}
.jumbotron p {
    font-size: 1.5rem;
}
.jumbotron a {
    display: inline-block;
    margin-top: 4rem;
}
.jumbotron-img {
    transform: rotateY(180deg);
    opacity: 0;
    transition: .8s;
}
.jumbotron-img.return {
    opacity: 1;
    transform: rotateY(0);
}
.jumbotron .jumbotron-text {
    transform: translateX(-200px);
    opacity: 0;
    transition: .8s;
}
.jumbotron .jumbotron-text.return {
    opacity: 1;
    transform: translateX(0);
}
.jumbotron span {
    color: var(--white-2);
}
.jumbotron img {
    width: 230px;
    border-radius: 50%;
    background: var(--white-1);
    border: 3px solid var(--white-1);
}
@media (max-width: 768px) {
    .jumbotron h1 {
        font-size: 3.5rem;
    }
}

/* TENTANG SAYA */
.tentang .row-dua {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tentang img {
    width: 280px;
}
.tentang-text-header {
    transform: translateY(200px);
    opacity: 0;
    transition: .8s;
}
.tentang-text-header.return {
    opacity: 1;
    transform: translateY(0);
}
.tentang-img {
    opacity: 0;
    transform: rotateY(-180deg);
    transition: .8s;
}
.tentang-img.return {
    opacity: 1;
    transform: rotateY(0);
}
.tentang-text {
    transition: .8s;
    transform: translateY(100px);
    opacity: 0;
}
.tentang-text.return {
    transform: translateY(0);
    opacity: 1;
}
.tentang-icon {
    transform: translateX(200px);
    opacity: 0;
    transition: .8s;
}
.tentang-icon.return {
    transform: translateX(0);
    opacity: 1;
}
.tentang .row-dua .col.satu,
.tentang .row-dua .col.dua {
    padding: 2rem;
}
.tentang .row-dua .col.dua p {
    max-width: 500px;
    text-align: justify;
}
.tentang .sosmed {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.tentang .sosmed i {
    font-size: 2rem;
    margin: 0 1rem;
}
@media (max-width: 768px) {
    .tentang .row-dua .col.dua p {
        text-align: center;
    }
}

/* SKILLS */
.skills-text-header {
    transform: translateY(170px);
    opacity: 0;
    transition: .8s;
}
.skills-text-header.return {
    transform: translateY(0);
    opacity: 1;
}
.skills .row-dua {
    padding: 2rem;
    width: 700px;
    background: var(--gradient);
    margin: 1rem 0;
}
.skills .software {
    display: flex;
    align-items: center;
}
.skills .software p {
    margin: 0 1rem;
}
.skills .software img {
    margin: 0 .3rem;
    width: 48px;
}
.skills .level {
    width: 100%;
    height: 7px;
    background-color: var(--white-3);
    margin: 1.5rem 0;
    overflow-x: hidden;
}
.skills .persen {
    transform: translateX(-100%);
    opacity: 0;
    transition: 1s;
    height: 100%;
    background-color: white;
}
.skills .persen.return {
    opacity: 1;
    transform: translateX(0);
}
@media (max-width: 768px) {
    .skills .row-dua {
        width: 100%;
    }
}

/* PORTFOLIO */
.portfolio-text-header {
    transform: translateY(170px);
    opacity: 0;
    transition: .8s;
}
.portfolio-text-header.return {
    transform: translateY(0);
    opacity: 1;
}
.portfolio .row-dua {
    width: 90%;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.portfolio .back {
    position: absolute;
    z-index: -99;
    display: none;
}
.portfolio .back h1 {
    font-size: 8rem;
    color: rgba(139, 123, 130, 0.5);
    filter: blur(1px);
}
.portfolio .col {
    width: 310px;
    height: 310px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 60px 0 rgb(20, 0, 4);
    transform: translateY(100px);
    opacity: 0;
    transition: .8s;
}
.portfolio .col.return {
    opacity: 1;
    transform: translateY(0);
}
.portfolio .col a {
    background-color: rgba(187, 54, 92, .5);
    box-shadow: 0 0 1px 0 rgb(20, 0, 4);
    padding: .4rem .8rem;
}
.portfolio h4 {
    margin: 1.2rem 0;
}
.portfolio img {
    width: 128px;
    margin: 1rem;
}
.portfolio .row-tiga {
    margin: 2rem 0;
    box-shadow: 0 0 20px 0 rgb(20, 0, 4);
    padding: .4rem .8rem;
}
@media (min-width: 1200px) {
    .portfolio .back {
        display: inline-block;
    }
}

/* KONTAK */
.kontak .row-dua {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kontak .row-dua form {
    width: 700px;
    display: flex;
    flex-direction: column;
}
.kontak label, .kontak button {
    margin: 1rem 0;
}
.kontak input, .kontak textarea {
    min-height: 40px;
    padding: .5rem;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #919191;
    color: inherit;
    border-radius: 5px;
}
.kontak input:focus, .kontak textarea:focus {
    outline: none;
    border-color: white;
}
/* MENGATASI AUTOFILL JADI PUTIH SAMA KAYA COLOR SCHEMA TAPI LEBIH KEREN */
/* .kontak input:-webkit-autofill,
.kontak input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
} */
.kontak textarea {
    max-height: 400px;
    min-width: 100%;
    max-width: max-content;
}
.kontak button {
    width: 100px;
    padding: .7rem 1rem;
    background-color: rgba(255, 255, 255, .1);
    color: inherit;
    border: none;
    border-radius: 4px;
    transition: .2s;
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kontak button:hover {
    background-color: rgba(156, 46, 77, 0.5);
}
.kontak .alert {
    display: none;
}
.kontak .alert.muncul {
    text-align: center;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    color: #75b798;
    background-color: #051B11;
    border: 1px solid #0F5132;
}
.kontak .alert.ijo {
    color: #75b798;
    background-color: #051B11;
    border: 1px solid #0F5132;
}
.kontak .alert.kuning {
    color: #ffda6a;
    background-color: #332701;
    border: 1px solid #997404;
}
.kontak .alert.merah {
    color: #ea868f;
    background-color: #2c0b0e;
    border: 1px solid #842029;
}
.kontak .alert .alert-close {
    cursor: pointer;
    margin: 0 .5rem;
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    right: 0;
}

/* FOOTER */
#footer {
    width: 100%;
    box-shadow: 0 0 50px 0 rgb(0, 0, 0);
}
.footer {
    padding: 1rem 0;
    text-align: center;
}
.footer .row-satu, .footer .row-dua {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .row-satu a {
    font-size: 1.5rem;
    margin: 1rem;
}
.footer .row-dua i {
    color: salmon;
}
.footer i {
    padding: 1rem 0;
}
.footer p {
    padding: 1rem 0;
}

/* LOADER */
.loader {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border-left: 3px solid #FF3D00;
    border-bottom: 3px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* LOADER 2 */
#loader {
    position: absolute;
    z-index: 20;
    margin: auto;
}
.loader-dua {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #0083FF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* RESPONSIF */
@media (min-width: 1920px) {
    :root {
        font-size: 120%;
    }
}
@media (max-width: 900px) {
    :root {
        font-size: 90%;
    }
}