@import "../variable";
@import "../mixin";

:root {
   font-family: "Open Sans", sans-serif;
   scroll-behavior: smooth;
   overflow-x: hidden;
   body {
      overflow-x: hidden;
      min-height: 100vh;
      color: $white-1;
      background: $gradient;
      color-scheme: dark;
   }
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container {
   max-width: 75rem;
   padding: 0 1rem;
   margin: auto;
}
.panah-atas {
   @include transform(translateX(150%), translateX(0), 0.3s);
   position: fixed;
   font-size: 3rem;
   bottom: 1rem;
   right: 1rem;
}
a {
   text-decoration: none;
   color: $white-1;
   transition: 0.3s;
   &:hover {
      color: $white-2;
   }
}
li {
   list-style: none;
}
.tentang,
.skills,
.portfolio,
.kontak {
   padding: 3rem 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .row-satu {
      width: 100%;
      text-align: center;
      padding: 2rem 0;
      h2 {
         margin-bottom: 1rem;
      }
   }
}

/* LOADER SATU */
.loader {
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   display: inline-block;
   border-top: 3px solid #fff;
   border-right: 3px solid transparent;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
   &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border-left: 3px solid #ff3d00;
      border-bottom: 3px solid transparent;
      animation: rotation 0.5s linear infinite reverse;
   }
}
@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* LOADER 2 */
#loader {
   position: absolute;
   z-index: 20;
   margin: auto;
}
.loader-dua {
   width: 48px;
   height: 48px;
   border-radius: 50%;
   display: inline-block;
   border-top: 4px solid #fff;
   border-right: 4px solid transparent;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}
@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* RESPONSIF */
@media (min-width: 1920px) {
   :root {
      font-size: 120%;
   }
}
@media (max-width: 900px) {
   :root {
      font-size: 90%;
   }
}
