/* MENGATASI AUTOFILL JADI PUTIH SAMA KAYA COLOR SCHEMA TAPI LEBIH KEREN */
/* .kontak input:-webkit-autofill,
 .kontak input:-webkit-autofill:focus {
   transition: background-color 600000s 0s, color 600000s 0s;
 } */
.kontak {
   .row-dua {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      form {
         width: 700px;
         display: flex;
         flex-direction: column;
      }
   }
   label,
   button {
      margin: 1rem 0;
   }
   input,
   textarea {
      min-height: 40px;
      padding: 0.5rem;
      font-family: sans-serif;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid #919191;
      color: inherit;
      border-radius: 5px;
      &:focus {
         outline: none;
         border-color: white;
      }
   }
   textarea {
      max-height: 400px;
      min-width: 100%;
      max-width: max-content;
   }
   button {
      width: 100px;
      padding: 0.7rem 1rem;
      background-color: rgba(255, 255, 255, 0.1);
      color: inherit;
      border: none;
      border-radius: 4px;
      transition: 0.2s;
      box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
         background-color: rgba(156, 46, 77, 0.5);
      }
   }
   .alert {
      display: none;
      .alert-close {
         cursor: pointer;
         margin: 0 0.5rem;
         position: absolute;
         font-size: 1.5rem;
         top: 0;
         right: 0;
      }
      &.muncul {
         text-align: center;
         height: 3.5rem;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 4px;
         position: relative;
         color: #75b798;
         background-color: #051b11;
         border: 1px solid #0f5132;
      }
      &.merah {
         color: #ea868f;
         background-color: #2c0b0e;
         border: 1px solid #842029;
      }
      &.kuning {
         color: #ffda6a;
         background-color: #332701;
         border: 1px solid #997404;
      }
      &.ijo {
         color: #75b798;
         background-color: #051b11;
         border: 1px solid #0f5132;
      }
   }
}
