@import "../variable";
@import "../mixin";

#navbar {
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background: $gradinet-kaca;
   backdrop-filter: blur(5px);
   z-index: 99;
}
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   padding: 1rem 0;
   .navbar-logo {
      font-weight: bold;
      font-size: 1.2rem;
      &:hover {
         transform: translateY(-5px);
      }
   }
   .navbar-nav {
      display: flex;
      align-items: center;
      ul {
         display: flex;
         li {
            margin-left: 1.5rem;
            width: max-content;
         }
      }
   }
   .navbar-download {
      @include button;
      margin-left: 2.5rem;
   }
   .navbar-menu {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      cursor: pointer;
      display: none;
      &:hover.navbar-menu span {
         background-color: $white-2;
      }
      span {
         display: block;
         height: 3px;
         background-color: white;
         border-radius: 10px;
         transition: 0.3s;
         &:nth-child(1) {
            width: 70%;
         }
         &:nth-child(3) {
            width: 50%;
         }
      }
   }
}
@media (max-width: 768px) {
   .navbar {
      .navbar-nav {
         @include transform(translateX(130%), translateX(0), 0.3s);
         top: calc(100% + 1rem);
         right: 0;
         position: absolute;
         flex-direction: column-reverse;
         background: $gradient;
         padding: 2rem 12rem 2rem 2rem;
         border-radius: 5px 0 5px 5px;
         ul {
            flex-direction: column;
            li {
               margin: 1rem 0;
            }
         }
      }
      .navbar-download {
         margin: 2rem 0;
      }
      .navbar-menu {
         display: flex;
         &.close {
            justify-content: center;
         }
         span {
            &:nth-child(1).close {
               width: 100%;
               transform: rotate(45deg) translateX(4px);
            }
            &:nth-child(2).close {
               transform: scaleX(0);
            }
            &:nth-child(3).close {
               width: 100%;
               transform: rotate(-45deg) translateX(4px);
            }
         }
      }
   }
}
