@import "../variable";

.skills {
   .row-dua {
      padding: 2rem 1rem;
      background: $gradient;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
   .skills-text-header {
      @include transform(translateY(170px), translateY(0), 0.8s);
   }
   .col {
      @include transform(translateY(100px), translateY(0), 0.8s, $scale: true);
      max-width: 250px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 20px -5px rgb(20, 0, 4);
      padding: 2rem;
      margin: 1rem;
      img {
         width: 75px;
      }
      p {
         color: $white-2;
         font-size: 0.9rem;
      }
      h3 {
         margin: 1rem 0;
      }
   }
}
@media (max-width: 768px) {
   .skills {
      .col {
         max-width: 185px;
         padding: 1rem;
         margin: 0.5rem;
         img {
            width: 60px;
         }
      }
   }
}
@media (max-width: 470px) {
   .skills {
      .col {
         max-width: 100%;
      }
   }
}
