@import "../variable";

.tentang {
   .row-dua {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .col.satu {
         padding: 2rem;
      }
      .col.dua {
         padding: 2rem;
         p {
            max-width: 500px;
            text-align: justify;
         }
      }
   }
   .tentang-text-header {
      @include transform(translateY(200px), translateY(0), 0.8s);
   }
   .tentang-img {
      @include transform(rotateY(-180deg), rotateY(0), 0.8s);
   }
   .tentang-text {
      @include transform(translateY(100px), translateY(0), 0.8s);
   }
   .tentang-icon {
      @include transform(translateX(200px), translateX(0), 0.8s);
   }
   .sosmed {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      i {
         font-size: 2rem;
         margin: 0 1rem;
      }
   }
   img {
      width: 280px;
   }
}
@media (max-width: 768px) {
   .tentang {
      .row-dua {
         .col.dua {
            text-align: center;
         }
      }
   }
}
